Was/
Was/hELLOwrld.html
Was/hstory.html
Was/nterests.html
Was/strr1.html
Was/About.html
123/index.html
123/index2.html
123/link-script.html
123/main.css
123/main2.css
123/norvegiya-nebo-oblaka-gory.jpg
123/owibkisetka.html
123/setka.css
123/setka.html
123/setka1modify.html
123/setkaNEW.html
123/str1.css
123/text-shadow: 1px 1px 2px black, 0 0 1em red;
123/Karta-cveta.jpg
123/emmetGO.html
123/emmetGO2.html
123/grid.png
123/index.css
Was/R/
123/Site/old/
123/next/
123/old/
123/Style
