.container{
	position:center;
	margin:10px auto;
	color: blue;
	width: 500px;
	height: auto;
	color: darkviolet;
	background: lightblue;
	margin-bottom: 20px;
}

h2{
	margin-bottom: 30px;
}

.form-control {
	height: auto;
	margin-bottom:0px;
}

.form-control #content #title{
	height: auto;
	margin-bottom:0px;
}

.btn{
	margin-bottom: 20px;
	border-color:blue;
	background-color:black;
	color: yellow;
}